.page {
    width: 1440px;
    height: 1024px;
    border-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-card {
    display: flex;
    width: 643px;
    height: 380px;
    gap: 2px;
}

.photo-section {
    width: 260px;
    height: 380px;
    top: 322px;
    left: 399px;
}

.personal-data {
    display: flex;  
    flex-direction: column;
    width: 383px;
    height: 380px;
    top: 322px;
    left: 659px;
    gap: 2px;
}

.name-data {
    display: flex;
    flex-direction: column;
    width: 383px;
    height: 190px;
    border-top-right-radius: 10px;
    background-color: #192028;
}

.contact-data {
    width: 363px;
    height: 132px;
    top: 190px;
    border-bottom-right-radius: 10px;
    background-color: #2B3944;
    font-size: 20px;
    line-height: 23.44px;
    display: flex;
    flex-direction: column;
    padding: 29px 0px 27px 20px;
    gap: 24px;
    color: #FFFFFF;
    font-weight: 400;
}

.name-surname {
    display: flex;
    flex-direction: column;
    margin: 44px 0px 0px 19px;
    gap: 4px;
}

.name {
    font-size: 25px;
    line-height: 29.3px;
    width: 147px;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: capitalize;
}

.surname {
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.work {
    width: 157px;
    height: 29px;
    line-height: 29.3px;
    padding: 19px 206px 0px 19px;
    color: #6487A1; 
    font-family: Roboto;
    font-size: 25px;
    text-align: left;   
    font-weight: 400;
    text-transform: uppercase;
}

.text {
    font-family: Roboto;
    text-align: left;   
}

.street, .email, .phone {
    display: flex;
    gap: 10px;
}

.contact-data-text {
    width: 100%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}
